<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>城市天氣</title>
</head>
<body>
    <h1>於網址列後輸入斜線及城市名稱，以查看該城市天氣狀況（現無法查詢內有空格者）</h1>
    <h2>例如：/taipei</h2>
</body>
</html>